<html>
<body>
	<p>Create from</p>
	<form action="/createac" method="POST">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
	<input type="submit" value="Create">
	</form>
	<button onclick="location.href='/'" type="button">Go Back</button>
</body>
</html>
